body{
background-color: lightgray;
}
table{
	background-color: white;
	
}


.imgAnime img{
	display: none;	
	height:50px;
	//visibility: hidden;
}

.imgAnime:hover img{
	display: inline-block;
	//visibility: visible;	
}

.imgAnime:hover .txtAnime{
	display: none;	
}